* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height:100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px max-content 1fr;
}  

.container div {
    padding: 15px;
    font-family: Helvetica;
    font-weight: bold;
}

.header{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: end;
}

#name{
    flex:1;
    text-align: left;
}

.header ul{
    display:flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    padding: 0px 30px;
}

button {
    border-radius: 12px;
    width: 5rem;
    padding: 10px;
    background-color: #1C2321;
    color:white;
    font-weight: bolder;
}

button:hover{
    background-color: blue;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #1C2321;
    color:white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
    padding-left: 30px;
}    

.sidebar li {
    display: flex;
    align-items: center;
}

.sidebar img{
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
    fill:white;
}

.sidebar .nav{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

div.content{
    display:flex;
    justify-content: space-evenly;
    grid-row: 3/4;
    grid-column: 2/3;
    padding: 0px;
    background-color: #A9B4C2;
}

.section_name{
    text-align: left;
    padding: 15px;
}

.projects{
    flex:4;
}

#projects{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.project_card{
    background-color: white;
    color: black;
    text-align: left;
    height: 200px;
    border-radius: 12px;
}

.project_card p{
    color: black;
    font-weight: normal;
    font-size: 14px;
}

#tips{
    flex:1;
}



