* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    background-color: #1c7c54;
    color: #ffffff;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
}

.container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
}

#navigation{
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
    gap: 10px;
}

#navigation a{
    color: #ffffff;
    font-size: 1rem;
}

#navigation ul li:not(:last-child) {
    border-right: 1px solid #fff; 
}