<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <script src="../static/dashboard.js" defer></script>
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="../images/profile.jpg" alt="" id="profile"></img>
            <div id="name">Name(@name)</div>
            <ul>
                <li><button id="new">New</button></li>
                <li><a href="{{ url_for('upload') }}"><button id="upload">Upload</button></a></li>
                <li><button id="share">Share</button></li>
            </ul>
        </div>
        <div class="sidebar">
            <div class="logo">CS-11</div>
            <ul class="nav">
                <li><img src="{{ url_for('static', filename='images/home-account.svg')}}" alt=""><a href="">Home</a></li>
                <li><img src="{{ url_for('static', filename='images/view-dashboard.svg')}}" alt=""><a href="">Dashboard</a></li>
                <li><img src="{{url_for('static', filename='images/check-bold.svg')}}" alt=""><a href="">Tasks</a></li>
                <li><img src="{{url_for('static', filename='images/cog.svg')}}" alt=""><a href="">Settings</a></li>
                <li><img src="{{url_for('static', filename='images/help-box-multiple.svg')}}" alt=""><a href="{{url_for('help')}}">Help</a></li>
            </ul>
        </div>
        <div class="content">
            <h1 class="section_name" id="project_sect">Your Projects</h1>
            <div id="projects"></div>
        </div>
    </div>
</body>
</html>