<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <script src="../static/dashboard.js" defer></script>
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div class="search">Search Bar Temp</div>
        <div class="header">
            <div id="profile">Picture</div>
            <div id="name">Name(@name)</div>
            <ul>
                <li><button id="new">New</button></li>
                <li><a href="upload.html"><button id="upload">Upload</button></a></li>
                <li><button id="share">Share</button></li>
            </ul>
        </div>
        <div class="sidebar">
            <div class="logo">LOGO</div>
            <ul class="nav">
                <li><img src="../images/home-account.svg" alt=""><a href=""></a>Home</li>
                <li><img src="" alt=""><a href=""></a>Tasks</li>
                <li><img src="" alt=""><a href=""></a>Settings</li>
                <li><img src="" alt=""><a href=""></a>Help</li>
            </ul>
        </div>
        <div class="content">
            <div class="projects">
                <h1 class="section_name">Your Projects</h1>
                <div id="projects"></div>
            </div>
            <div id="tips">    
                <h1 class="section_name">Tips</h1>
                <div class="tips">
                    <div>
                        <h2></h2>
                        <p></p>
                    </div>
                    <div>
                        <h2></h2>
                        <p></p>
                    </div>
                    <div>
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>