<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Create Project</h1>
</header>

<div id="myProjects" class="container">
    <h2>My Projects</h2>
    <form action="{{ url_for('upload') }}" method="post">
        <button type="submit" id="createProjectBtn">Create a New Project +</button>
    </form>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
