<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Register</h1>
    </header>

    <form method="post" action="">
        {{ form.hidden_tag() }}
        <h3>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}{{ form.username.errors }}
        </h3>
        <h3>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}{{ form.password.errors }}
        </h3>
        <h3>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}{{ form.confirm_password.errors }}
        </h3>
        <h3>{{ form.submit() }}</h3>
    </form>
</body>
</html>
